<div class="container">
  <div class="row">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.6) 50%), url('<%= @talent.picture %>');">
      <h1><%= @talent.title%></h1>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col md-6">
    <h3 class="text-center"><%= @talent.title%></h3>
    <h4 class="text-center"><%= @talent.description %></h4>
  </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Book me :)</h1>
        <%= simple_form_for [@talent, @booking] do |f| %>

          <%= f.date_field :date, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
          <%= f.input :content, required: true  %>
          <%= f.submit "Book me now", class: "btn btn-primary" %>
        <% end %>

    </div>
  </div>
</div>

<%= link_to "Back to all talents", root_path %>
