<div class="pfl-wrapper">

  <article>
  <div class="profile-photo"></div>

    <div class="profile-info">

      <%= cl_image_tag current_user.picture %>
      <p>user.description <a href="http://fiascodesign.co.uk/" target="_blank">@NameofLink</a>. Short Description. Include cool links to the profile <a href="http://mountainandco.uk/" target="_blank">@NameofLink</a>.</p>

    </div>

    <div class="col-xs-12">

      <div class="col-md-6 people">
      </div>

      <div class="col-md-6">
        <% talent = Talent.first %>
        <div class="col-xs-12 col-lg-12 col-xl-6 tile">
          <div class="inner">
            <h4>IMPORT TALENT CARDS HERE</h4>

          </div>
        </div>



        <div class="container">
          <div class="greeting">
            <h4>See all your Talents</h4>
              <div id="book_again">
              <%= link_to "Book another talent", talents_path, class: "btn btn-primary"%>
              </div>
          </div>

        <div class="row-clearfix">
            <% @talents.each do |talent| %>
            <%=  render "shared/user_profile", talent: talent %>
            <% end %>
          </div>
        </div>
<!--         <div class="col-xs-12">
          <div class="card-wrap">
              <div class="card" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path talent.picture %>');">

                <div class="card-title">
                  <h2><%= talent.title %></h2>
                </div>


                 <%= link_to "", talent_path(talent), class: 'card-link' %>
              </div>
              <div class="card-description">
                 <strong>description: </strong>
                 <p> <strong>price: </strong> <%=talent.price%> € </p>
               </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="card-wrap">
              <div class="card" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path talent.picture %>');">

                <div class="card-title">
                  <h2><%= talent.title %></h2>
                </div>


                 <%= link_to "", talent_path(talent), class: 'card-link' %>
              </div>
              <div class="card-description">
                 <strong>description: </strong>
                 <p> <strong>price: </strong> <%=talent.price%> € </p>
               </div>
          </div>
        </div> -->


      </div>
      <div class="col-xs-12 people">

        <a href="https://codepen.io/nickylew/" class="col-xs-4 round-tile">
          <div class="roundal codepen"></div>
          <h4>CodePen</h4>
        </a>

        <a href="https://www.instagram.com/nickylewlew/" class="col-xs-4 round-tile">
          <div class="roundal instagram"></div>
          <h4>Instagram</h4>

        </a>

        <a href="https://twitter.com/nickylewlew/" class="col-xs-4 round-tile">
          <div class="roundal twitter"></div>
          <h4>Twitter</h4>
        </a>
      </div>
    </div>
  </article>

</div>
