<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= current_user.picture %>');">
  <div class="banner-content">
    <% if user_signed_in? %>
  <div>Goodday <%= current_user.name %></div>
<% end %>
    <p>All the awesome talents you booked</p>
    <%= link_to "Book another talent", new_talent_booking_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= 'talents.picture' %>);">
            <h2><%= booking.talent.title %></h2>
            <h2><%= booking.content %></h2>

          </div>
          <%= link_to "", talent_bookings_path, class: 'card-link' %>
          <% end %>
        </div>
      </div>
  </div>
  </div>
</div>
