<div class="col-xs-12 col-sm-4">
  <div class="profile-talent-card" style="">

    <%= image_tag talent&.picture, class: "talent-card-img-top" %>

    <div class="card-body">
      <div class="talent-card-title">
        <h5><%= talent&.title %></h5>
      </div>
      <div class="talent_card_text">
        <p> <%= talent.description %></p>
      </div>
      <hr/>
      <div class="booking_container">
          <%= talent&.price %>€
        <p>
      </div>
    </div>

    <div class="book_again_button">
       <%= link_to "book again", talent_path(@talent), class: "btn btn-primary" %>
    </div>
  </div>
</div>
