<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'photographer.jpg' %>');">
  <div class="container">
  <div class="banner-content">
     <div class="row">
        <div class="col-md-12">
          <h1>Unleash your talent</h1>
        </div>
        </div>
        <div class="row">



        <div class="col-md-6 col-md-offset-3">
          <%= form_tag talents_path, method: :get do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
              placeholder: "Find a talent"
              %>
          <% end %>




        </div>
        </div>
          <h4>dreams come true</h4>
    </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="values">

        <%=image_tag("community.png", class: "value_image")%>

        <h3>Innovative Collaboration</h3>
        <p>talenthub offers a platform
          for young talents striving to
          make money, by personal offering
          their personal skills.</p>

      </div>
    </div>
      <div class="col-md-4 col-sm-6">
        <div class="values">
          <%=image_tag("rocket 2.png", class: "value_image")%>
          <h3>Meaningful Creations</h3>
          <p> our community aims to help
          each other out and find solutions
          together and today. </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="values">
          <%=image_tag("talent.png", class: "value_image")%>
          <h3>Growing Community of Talents</h3>
          <p>find the talent you need today,
          discover amazing performances and
          solutions.</p>
        </div>
    </div>
</div>






<h4 class="text-center"> Check out our Talents</h4>
<div class="container">
  <div class="row">
     <div class="row">

   <% @talents.limit(4).each do |talent| %>


        <%=  render "shared/card", talent: talent %>


    <% end %>
    </div>
  </div>
</div>

